<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<link rel = "stylesheet" href = "main.css"> 
		<script src = "dt.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-VDMHSRKNPP"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-VDMHSRKNPP');
		</script>
	</head>

	<body>
		<div id="landing">
			<h1>Hello world</h1>
		</div>


		<div id = "info">
			<div id = "footer">Created by Benjamin Rittenhouse</div>
			<div id = "github"><a target="_blank" href = https://github.com/benjaminrittenhouse/nutrify/>GitHub</a></div>
		</div>

	</body>
</html>