<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<link rel = "stylesheet" href = "main.css"> 
		<script src = "dt.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-VDMHSRKNPP"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-VDMHSRKNPP');
		</script>
	</head>

	<body>
		<div id="landing">
			<h1 id = "webApp">Nutrifyy</h1>
			<h2 id = "desc">A Spotify Web App</h2>
			<p id = "see"><span>See your top 3 songs of the month, displayed as a nutrition label!</span></p>

			<div id = "btnDiv">
				<button id = "spotLog" onclick="window.location.href='/login'">Login with Spotify</button>
			</div>

			<p id = "hello">Created by Benjamin Rittenhouse</p>
			<div id = "hello2"><a target="_blank" href = https://github.com/benjaminrittenhouse/nutrify/>GitHub</a></div>
		</div>


	</body>
</html>