<!DOCTYPE html>
<html>
	<head>
		<link rel = "stylesheet" href = "test.css"> 
		<script src="nunjucks.js"></script>
	</head>

	<body>
		<div id="main">
			<div id = "title">Nutrify</div>
			<div id = "servings">5 servings per container</div>

			<div id = "ss">
				<div id = "servingsize">
					Serving Size
				</div>
				<div id = "cups">
					1/5 Cup
				</div>
			</div>

			<div id = "blackbar">
			</div>


			<div id = "cal">
				<div id = "amtper">
				Amount per serving
				</div>

				<div id = "calories">
					Calories
				</div>

				<div id = "caloriecount">
					230
				</div>
			</div>
			
			<div id = "blackbarskinny">
			</div>

			<div id = "dailyval">
					% Daily Value *
			</div>

				<div id = "arttrack">

					<div id = "separate">
					</div>

					<div class="track">{% trackone %}<span class = "time"> 2:45g</span><span class = "dvp">1%</span></div>

					<div id = "separate">
					</div>


					<div class = "artist1">Nardo Wick</div>
					<div id = "separate">
					</div>
					<div class = "artist">Future</div>
					<div id = "separate">
					</div>
					<div class = "artist">Lil Baby</div>

					<div id = "separate">
					</div>

					<div class="track">{% tracktwo %}<span class = "time"> 1:55g</span><span class = "dvp">2%</span></div>

					<div id = "separate">
					</div>

					<div class = "artist1">Lil Eazzyy</div>
					<div id = "separate">
					</div>
					<div class = "artist">Future</div>

					<div id = "separate">
					</div>

					<div class="track">{% trackthree %}<span class = "time"> 3:18g</span><span class = "dvp">3%</span></div>

					<div id = "separate">
					</div>

					<div class = "artist1">Drake</div>

					<div id = "separate">
					</div>

					<div class="track">{% trackfour %}<span class = "time"> 2:25g</span><span class = "dvp">4%</span></div>

					<div id = "separate">
					</div>

					<div class = "artist1">Drake</div>
					<div id = "separate">
					</div>
					<div class = "artist">Lil Baby</div>

					<div id = "separate">
					</div>

					<div class="track">{% trackfive %}<span class = "time"> 1:45g</span><span class = "dvp">5%</span></div>

					<div id = "separate">
					</div>

					<div class = "artist1">Drake</div>

				</div>
		</div>
	</body>
</html>