body {
	font-family: 'Helvetica', serif;
}

#main {
	border: 3px solid black;
	position: relative;
	width: 25vw;
	height: 90vh;
	margin: 0 auto;
}

#title {
	border-bottom: 0.5px solid gray;
	padding bottom: 30px;
	width: 95%;
	margin: 0 auto;
	font-weight: 900;
	font-size: 40px;
}

#servings {
	padding-left: .7rem;
	padding-top: 5px;
	font-size: 1.1rem;
	font-weight: lighter;
	letter-spacing: .05px
}

#ss {
	margin-top: .2rem;
	width: 100%;
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

#servingsize {
	float: left;
	padding-left: .7rem;
	margin-bottom: 1rem;
}

#cups {
	float: right;
	padding-right: .7rem;
}

#blackbar {
	border: 7px solid black;
	width: 92%;
	margin: 0 auto;
	margin-top: 2rem;
}



.artist {
	width: 92%;
	padding-left: 2rem;
	pading-top: .5rem;
	padding-bottom: .5rem;
	
}


.track {
	width: 92%;
	padding-left: 1rem;
	padding-bottom: .5rem;
	font-weight: bold;
}


#arttrack {
	margin-top: 2rem;
}

#dailyval {
	float: right;
	padding-right: .5rem;
	font-weight: bold;
	padding-top: .5rem;
	font-size: .9rem;
}

#amtper {
	padding-left: .8rem;
	padding-top: .5rem;
	font-weight: bold;
}

#calories {
	font-size: 2rem;
	font-weight: bold;
	padding-left: .7rem;
}

#caloriecount {
	float: right;
	font-size: 2.3rem;
	font-weight: bold;
	margin-top: -2.3rem;
	margin-right: -1.2rem;
}

#cal {
	display: inline-block;
	width: 92%;
	margin: 0 auto;
}

#blackbarskinny {
	border: 3px solid black;
	width: 93%;
	margin: 0 auto;
}

#separate {
	width: 92%;
	margin: 0 auto;
	border-bottom: 1px solid gray;
	margin-bottom: .5rem;
}

.time {
	font-weight: lighter;
	right: 0;
}

.dvp {
	float: right;
}

.dvpa {
	float: right;
	padding-right: 1rem;
}